nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item.active 
                a.nav-link(href="/") Home

            li.nav-item
                a.nav-link(href="guestbook") Guestbook

            li.nav-item
                a.nav-link(href="newmessage") New message

            li.nav-item
                a.nav-link(href="api/json" target="_blank") Api