doctype html
html
    include includes/header.pug
    body
        main.content-wrapper
            include includes/navbar.pug
            div.row
                div.col-md-12 
                    h4 Guestbook
                
                div.col-md-12.box
                    div.row

                        div(class="alert hide" role="alert")#alertbox aaaa

                        div.col-md-12
                            input(placeholder="Name" id="name").form-control
                            input(placeholder="Country" id="country").form-control
                            input(placeholder="Message" id="message").form-control

                        div.col-md-12
                            button.btn.btn-success#submit-ajax Send
                    
                    